*{
    margin: 0%;
    padding: 0%;
}
.a{
    height: 150px;
    font-size: 30px;
    color: black;
    background-color: bisque;
    text-align: center;

}
.b{
    display: flex;
    height: 100px;
    

}
.c{
    width: 20%;
    background-color:chartreuse;
    font-size: 20px;
    color: black;

}
.d{
    width: 20%;
    background-color:cyan;
    font-size: 20px;
    color: black;

}
.e{
    width: 20%;
    background-color:chartreuse;
    font-size: 20px;
    color: black;

}
.f{
    width: 20%;
    background-color:aqua;
    font-size: 20px;
    color: black;

}
.g{ 
    width: 20%;
    background-color:chartreuse;
    font-size: 20px;
    color: black;

}
.h{
    height: 450px;
    background-color: darkblue;
    color: aliceblue;
    font-size: 20px;
    text-align: center;

}
.i{ 
    height: 73px;
    background-color: coral;
    color:black;
    font-size: 20px;
    text-align: center;

}